* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  line-height: 4ex;

  font-family: 'MonoLisa', 'VictorMono Nerd Font', 'VictorMono', monospace;
}

main {
  display: flex;
  width: 100%;
  height: 100%;

  flex-flow: row nowrap;
  align-items: stretch;
}

main > section {
  flex: 1;
}

ul, li {
  margin: 0;
  padding: 0;
}

#structure li {
  list-style: none;
  border-left: var(--branch-border);
  padding-left: var(--indent-width);
  position: relative;
}

#structure li:last-child,
#structure li > ul > li:first-child {
  border-left: 0;
}

#structure li > .text,
#structure li > table {
  margin-left: var(--spacing-size);
}

#structure li.label,
#structure li:is(.Bool, .U8, .U16, .U32) {
  padding-left: calc(var(--indent-width) + var(--spacing-size));
}

li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--indent-width);
  height: 2ex;
  border-bottom: var(--branch-border);
}

li > ul > li:first-child:not(:only-child)::before {
  content: '';
  display: block;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: var(--indent-width);
  height: calc(100% - 2ex - var(--line-size));
  border-left: var(--branch-border);
  border-top: var(--branch-border);
  border-bottom: 0;
}

li:last-of-type::before {
  border-left: var(--branch-border);
}

table {
  border: 1px outset;
}

th, td {
  border: 1px inset;
}

#structure {
  --indent-width: 1em;
  --spacing-size: 0.5em;
  --line-size: 2px;
  --branch-border: var(--line-size) solid lightgray;
}

#binary {}

.text {
  font-weight: bold;
  white-space: pre-wrap;
  padding: 3px 4px;
  border-radius: 4px;
  border: solid black 1px;
}

.escape { color: blue }

.printable {}

.control { color: red }
